.logo{
    text-decoration: none;
    color: #333;
}
.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}
.pesquisar{
    font-size: 15px;
    margin-top: 20px;
    padding: 5px;
}