<mat-toolbar>

    <mat-toolbar-row>

        <!-- Bloco da log -->
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">local_movies</mat-icon>
        <h1><a class="logo" routerLink="/">Dream Movies</a></h1>
        <span class="example-spacer"></span>
        
        <!-- Módulo de pesquisa -->
        <div class="pesquisar">
            <mat-form-field appearance="fill">
                <mat-label>Pesquisar filme</mat-label>
                <input matInput>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

      
    </mat-toolbar-row>
  
</mat-toolbar>