<app-header></app-header>

<!-- Módulo de detalhamento do filme -->
<div class="film-content">
    <h2>Os Vingadores: Ultimato </h2>
    <p>Vingadores ou Os Vingadores são um grupo de super-heróis de história em quadrinhos publicados nos Estados Unidos pela editora Marvel Comics. O grupo também aparece em adaptações da Marvel para cinema, desenho animado e jogos eletrônicos.</p>
    <p>A primeira aparição dos Vingadores nos quadrinhos foi em sua própria revista, intitulada The Avengers, em Setembro de 1963 (no mesmo mês de estreia de X-Men). A equipe foi criada por Stan Lee, Jack Kirby e Dick Ayers, como uma resposta à Liga da Justiça, cuja revista reunia em uma história os principais heróis da DC Comics. A Liga da Justiça já inspirara uma primeira resposta da Marvel Comics, o Quarteto Fantástico, que todavia era um grupo de heróis novos, assim como o subsequente X-Men. Os Vingadores, reunidos dois anos depois do Quarteto, foram os primeiros da Marvel fiéis ao conceito da equipe de super-heróis já estabelecidos.</p>
    <p>Diferente de outras equipes do universo Marvel, os Vingadores receberam reconhecimento oficial do governo, quase desde o início com autoridade aceita internacionalmente durante a maior parte de sua história. O grupo é conhecido por reunir os "heróis mais poderosos da Terra" e ao longo de sua história manteve essa premissa, tempo depois houve uma reformulação chefiada pelo Capitão América que recrutou vilões regenerados e tão poderosos como Gavião Arqueiro e os mutantes Mercúrio e sua irmã, a Feiticeira Escarlate. Mas a equipe retomaria sua condição de "a mais poderosa" nos anos 1970, com a proposta de "combater vilões que nenhum herói conseguiria sozinho", e com isso fazendo uma mescla com os membros fundadores e os novos recrutas.</p>

    <!-- --- --- Caixas de avaliacoes --- --- -->
    <div class="avaliacoes">
        <h3>Avaliações</h3>
        <div class="avaliacao roteiro">
            <h4>Roteiro</h4>
            <div class="rating">
                <input type="radio" name="rating">
                <label for="rating-5"></label>
                
                <input type="radio" name="rating">
                <label for="rating-4"></label>
                
                <input type="radio" name="rating">
                <label for="rating-3"></label>
                
                <input type="radio" name="rating">
                <label for="rating-2"></label>
                
                <input type="radio" name="rating">
                <label for="rating-1"></label>
            </div>
        </div>

        <div class="avaliacao fotografia">
            <h4>Fotografia</h4>
            <div class="rating">
                <input type="radio" name="rating">
                <label for="rating-5"></label>
                
                <input type="radio" name="rating">
                <label for="rating-4"></label>
                
                <input type="radio" name="rating" >
                <label for="rating-3"></label>
                
                <input type="radio" name="rating">
                <label for="rating-2"></label>
                
                <input type="radio" name="rating">
                <label for="rating-1"></label>
            </div>
        </div>

        <div class="avaliacao efeitos-especias">
            <h4>Efeitos Especiais</h4>
            <div class="rating">
                <input type="radio" name="rating">
                <label for="rating-5"></label>
                
                <input type="radio" name="rating">
                <label for="rating-4"></label>
                
                <input type="radio" name="rating">
                <label for="rating-3"></label>
                
                <input type="radio" name="rating">
                <label for="rating-2"></label>
                
                <input type="radio" name="rating">
                <label for="rating-1"></label>
            </div>
        </div>

        <div class="avaliacao elenco">
            <h4>Elenco</h4>
            <div class="rating">
                <input type="radio" name="rating" id="rating-5">
                <label for="rating-5"></label>
                
                <input type="radio" name="rating" id="rating-4">
                <label for="rating-4"></label>
                
                <input type="radio" name="rating" id="rating-3">
                <label for="rating-3"></label>
                
                <input type="radio" name="rating" id="rating-2">
                <label for="rating-2"></label>
                
                <input type="radio" name="rating" id="rating-1">
                <label for="rating-1"></label>
            </div>
        </div>
    </div>
    <div style="clear:both"></div> 
    <a class="botao-voltar" mat-button routerLink="/">Voltar</a>
</div>

